.design img {
    width: 80px;
}

/* .container {
    width: 100%;
} */

.design {
    width: 300px;
    height: 300px;
    padding: 0 20px;
    border: 2px solid red;
    margin: 2px;
}

.textLeft {
    text-align: left;
}